
<title>Map Adventure</title>

<nav id="nav-bar">

  <img class="logo" src="https://media.freepik.com/accounts/img/badges/you_are_on_top.png" >
  <h3>Map Adventure!</h3>


  <% if (user_id) { %>

    <% } else { %>

    <% } %>

  </nav>