
<title>Map Adventure</title>

<header id="nav-bar">

  <img class="logo" src="https://media.freepik.com/accounts/img/badges/you_are_on_top.png" >
  <h1>Map Adventure!</h1>

  <nav class="left">
    <a href="/"><div>Home</div></a>
    <a href="/maps"><div>Atlas</div></a>
    <a href="/users/:id"><div class='profile'>My Profile</div></a>
    <a href="#" id="logoutEvent"><div>Logout</div></a>
  </nav>
</header>


  <!-- <% if (user_id) { %>

        <% } else { %>

        <% } %> -->
