<link href="https://fonts.googleapis.com/css?family=Frijole" rel="stylesheet">

<title>Map Adventure</title>

  <!-- <img class="logo" src="https://media.freepik.com/accounts/img/badges/you_are_on_top.png" >
  <h1 class="title">Map Adventure!</h1> -->

  <nav class="navbar navbar-inverse" style="margin:0" style="position:fixed">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand"><span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span> Map Adventure</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/maps">Atlas</a></li>
        <li><a href="/users/<%=user_id%>">My Profile</a></li>
        <li><a href="#" id="logoutEvent">Logout</a></li>
      </ul>
    </div>
  </nav>

  <!-- <nav class="left">
    <a href="/">Home</a>
    <a href="/maps">Atlas</a>
    <a href="/users/<%=user_id%>">My Profile</a>
    <a href="#">Logout</a>

  </nav> -->
