<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="../styles/???" type="text/css" />

    <script type="text/javascript" src="../public/scripts/maps.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Hello World!</h1>
  </body>
</html>
