<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MAP LIST</title>
    <!-- <link rel="stylesheet" href="../styles/???" type="text/css" /> -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="../routes/maps.js"></script> -->
    <script type="text/javascript" src="/scripts/map_list.js"></script>
    <!-- <link rel="stylesheet" href="/vendor/nav.css" type="text/css"/> -->

    <% include ./partials/_header %>
  </head>

  <body>
    <h1>Here's a list of maps...</h1>
    <a href="/maps/create"><h2>CLICK THIS TO CREATE MAP</h2></a>
    <div id="map-list"></div>
  </body>

</html>
