<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MAP LIST</title>
    <!-- <link rel="stylesheet" href="../styles/???" type="text/css" /> -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="../routes/maps.js"></script> -->
    <script type="text/javascript" src="/scripts/map_list.js"></script>
  </head>

  <body>
    <h1>Here's a list of maps...</h1>
    <div><h2>CLICK THIS TO CREATE MAP</h2></div>
    <div id="map-list"></div>
  </body>

</html>
