<!DOCTYPE html>
<html lang="en">
  <head>


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/map_list.js"></script>
    <script type="text/javascript" src="/scripts/logout.js"></script>
    <script type="text/javascript" src="/scripts/active-button.js"></script>
    <link rel="stylesheet" href="/vendor/nav.css" type="text/css"/>

    <link rel="stylesheet" href="/styles/map-list.css" type="text/css" />


  </head>

  <body>
    <% include ./partials/_header %>

    <section class='main-folder'>
      <div class='paper'>
        <h1>Here's a list of maps...</h1>
        <div><h2>CLICK THIS TO CREATE MAP</h2></div>
        <div id="map-list"></div>
      </div>
    </section>

  </body>
</html>
