<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MAP LIST</title>
    <!-- <link rel="stylesheet" href="../styles/???" type="text/css" /> -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="../routes/maps.js"></script> -->
    <script type="text/javascript" src="/scripts/map_list.js"></script>
    <!-- <link rel="stylesheet" href="/vendor/nav.css" type="text/css"/> -->

    <!-- <% include ./partials/_header %> -->
  </head>

  <body>
    <form id="new-map">
      <h2>New map creation...</h2>
      <textarea name='map_title' placeholder="Enter title for new map here!"></textarea>
      <br>
      <input type='submit' value='Generate new map!'>
    </form>
    <br><br>
    <h2>List of existing maps...</h2>
    <div id="map-list"></div>
  </body>

</html>
