<!DOCTYPE html>
<html lang="en">

<head>


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/map_list.js"></script>
  <script type="text/javascript" src="/scripts/logout.js"></script>
  <script type="text/javascript" src="/scripts/active-button.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/map-list.css" type="text/css">


</head>

<body>
  <% include ./partials/_header %>
    <div class='full-page'>

      <div class='jumbotron'>
        <form id="new-map">
          <h4 class="creation">Create a new map by <br>entering the title below and pressing the button</h4>
          <textarea name='map_title' class="form-control" placeholder="Enter title for new map here!"></textarea>
          <br>
          <button type="submit" class="btn btn-primary">Generate new map!</button>
        </form>
        <br><br>
        <div id="map-list-title" class="list-group">Current Map List</div>
        <div id="map-list"></div>
      </div>
    </div>

</html>