<!DOCTYPE html>
<html lang="en">
  <head>


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/maps_id.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQKTN_0e8RdueqYXuKZK99uNFndl6TN6k&libraries=places"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/new-map.css" type="text/css">

  </head>

  <body>
    <% include ./partials/_header %>
    <section class='main-folder'>

      <div class='paper'>
        <h1 id="map-title">MAP ID: <%=map_id%></h1>
        <input id="pac-input" class="controls" type="text" placeholder="Search new region to refocus map boundary!">

        <div id='map-n-points'>
          <div id="map"></div>

          <form id="point-info">
            <input type="button" id="map-edit" value="CLICK HERE TO ADD MARKER">
            <br><br>
            <img class="point-pic" src="https://images.vexels.com/media/users/3/141915/isolated/preview/fa18fbc911311b5371870c880fa5f75a-location-pin-by-vexels.png">
            <br>
            <textarea class="edit-title" name='point_title' placeholder="Please enter title for point."></textarea>

            <textarea class="edit-desc" name='point_desc' placeholder="Please enter description for point."></textarea>
            <br><br>
            <textarea class="edit-coord-x" name='x' placeholder="Latitude: add marker to generate."></textarea>
            <textarea class="edit-coord-y" name='y' placeholder="Longitude: add marker to generate."></textarea>
            <br>
              Note: right-click on marker to remove it.
            <br><br>
            <input type="submit" value='SAVE POINT!'>
          </form>
        </div>
      </div>
    </section>
  </body>

    <!-- <section class='main-folder'>
      <div class='paper'>
        <h1 id="map-title">MAP ID: <%=map_id%></h1>
        <h2 id="map-edit">CLICK TO EDIT</h2>
        <input id="pac-input" class="controls" type="text" placeholder="Search new region to refocus map boundary!">
        <div id="map"></div>
        <div id="point-list">LIST OF POINTS HERE</div>
      </div>


    </section> -->

  </body>
</html>
