<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MAP <%=map_id%></title>
    <link rel="stylesheet" href="/styles/maps.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/maps_id.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQKTN_0e8RdueqYXuKZK99uNFndl6TN6k&libraries=places"></script>
    <!-- <link rel="stylesheet" href="/vendor/nav.css" type="text/css"/> -->

  </head>

  <body>
    <!-- <% include ./partials/_header %> -->
    <h1 id="map-title">MAP ID: <%=map_id%></h1>
    <h2 id="map-edit">CLICK HERE TO ADD MARKER</h2>
    <input id="pac-input" class="controls" type="text" placeholder="Search new region to refocus map boundary!">

    <div id='map-n-points'>
      <div id="map"></div>

      <div id="point-info">
        <div class="edit-pic">Picture: {TBD}</div>
        <div class="edit-title">Title: {TEXT INPUT}</div>
        <div class="edit-coord-x">Latitude: {ADD POINT ON MAP}</div>
        <div class="edit-coord-y">Longitude: {ADD POINT ON MAP}</div>
        <div class="edit-url">URL: {TEXT INPUT}</div>
        <div class="edit-desc">Description: {TEXT INPUT}</div>
        <h3 id="save-point">CLICK HERE TO SAVE POINT</h3>
      </div>
    </div>
  </body>



</html>
