<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MAPS LIST/INDEX</title>
    <link rel="stylesheet" href="../styles/???" type="text/css" />
    <script type="text/javascript" src="../routes/maps.js"></script>
  </head>

  <body>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id='map'></div>
  </body>

</html>
