<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Viewing Map: <%= map_id%></title>


    <link rel="stylesheet" href="../styles/???" type="text/css" />
    <script type="text/javascript" src="../routes/maps.js"></script>

  </head>

  <body>
    <div>
  </body>
</html>
