<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MAPS LIST/INDEX</title>
    <link rel="stylesheet" href="../styles/???" type="text/css" />
    <script type="text/javascript" src="../routes/maps.js"></script>
    <link rel="stylesheet" href="/vendor/nav.css" type="text/css"/>

    <% include ./partials/_header %>
  </head>

  <body>
    <div class='paper'>
      <%%>
      <%%>
    </div>
  </body>

</html>
