<!DOCTYPE html>
<html lang="en">
  <head>


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/maps_id.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQKTN_0e8RdueqYXuKZK99uNFndl6TN6k&libraries=places"></script>

    <link rel="stylesheet" href="/styles/maps.css" type="text/css" />


  </head>

  <body>

    <% include ./partials/_header %>

    <h1 id="map-title">MAP ID: <%=map_id%></h1>
    <input id="pac-input" class="controls" type="text" placeholder="Search new region to refocus map boundary!">

    <div id='map-n-points'>
      <div id="map"></div>

      <div id="point-info">
        <h4 id="map-edit">**CLICK HERE TO ADD MARKER**</h4>
        <img class="point-pic" src="https://images.vexels.com/media/users/3/141915/isolated/preview/fa18fbc911311b5371870c880fa5f75a-location-pin-by-vexels.png">
        <!-- <div class="edit-title">Title: {TEXT INPUT}</div> -->
        <br>
        <textarea class="edit-title" name='text' placeholder="Please enter title for point."></textarea>
        <!-- <div class="edit-url">URL: {TEXT INPUT}</div> -->
        <textarea class="edit-desc" name='text' placeholder="Please enter description for point."></textarea>
        <br><br>
        <div class="edit-coord-x">Latitude: {ADD POINT ON MAP}</div>
        <div class="edit-coord-y">Longitude: {ADD POINT ON MAP}</div>
        <br>
          Note: right-click on marker to remove it.
        <br>
        <h3 id="save-point">CLICK HERE TO SAVE POINT</h3>
      </div>
    </div>
  </body>

    <section class='main-folder'>
      <div class='paper'>
        <h1 id="map-title">MAP ID: <%=map_id%></h1>
        <h2 id="map-edit">CLICK TO EDIT</h2>
        <input id="pac-input" class="controls" type="text" placeholder="Search new region to refocus map boundary!">
        <div id="map"></div>
        <div id="point-list">LIST OF POINTS HERE</div>
      </div>


    </section>

  </body>
</html>
