<<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/vendor/nav.css" type="text/css"/>
  <title>Document</title>
  <% include ./partials/_header %>
</head>
<body>  
  <h1><br><br><br><br><br><br><br><br><br>Test</h1>
      
</body>
</html>