<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <link rel="stylesheet" href="/vendor/nav.css" type="text/css"/>
  <script type="text/javascript" src="/scripts/profile.js"></script>
  <script type="text/javascript" src="/scripts/logout.js"></script>
  <script type="text/javascript" src="/scripts/edit-profile.js"></script>
  <title>Map Adventure</title>
  <% include ./partials/_header %>
</head>
<body>


<div style="margin-top: 130px" id="about-me">  
<div id="about-me">
</div>

<label for="chkPassport">
    <input type="checkbox" id="chkPassport" />
    Do you have Passport?
</label>
<hr />
<div id="dvPassport" style="display: none">
    Passport Number:
    <input type="text" id="txtPassportNumber" />
</div>

<div id="map-list">
  <h1>Maps I've Contributed To!</h1>
  
</div>
</div>
</body>
</html>

<!-- 
<% if (user_id) { %>

<% } else { %>
  
    <% } %> -->