<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- css -->
  <link rel="stylesheet" href="/styles/profile.css" type="text/css" />
  <!-- scripts -->
  <script type="text/javascript" src="/scripts/profile.js"></script>
  <script type="text/javascript" src="/scripts/logout.js"></script>
  <script type="text/javascript" src="/scripts/active-button.js"></script>
  <script type="text/javascript" src="/scripts/edit-profile.js"></script>
  <title>Map Adventure</title>
</head>
<body>
  <% include ./partials/_header %>
  <section class='main-folder'>

    <div class='paper'>
        <div id="about-me">
          </div>
      <label for="chk-box">
        <input type="checkbox" id="chk-box" />
          <p>Click here to edit your Username and About Me</p>
        </label>
        <hr />
        <form action="/users/edit/<%=user_id%>" method="POST" id="edit-form" style="display: none">
          <div>
            <label for="username">Username:</label>
            <input type="text" id="name" name="username">
          </div>
          <br>
          <div>
              <label for="msg">About Me:</label>
              <textarea id="aboutme" name="about"></textarea>
          </div>
          <button id="edit-form-button" type="submit">Submit</button>
        </form>

      <div style="margin-top: 130px" id="about-me">

        <div id="map-list">
          <h1>Maps You've Contributed To!</h1>

        </div>
      </div>
    </div>
  </section>
</body>
</html>
