<<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <link rel="stylesheet" href="/vendor/nav.css" type="text/css"/>
  <script type="text/javascript" src="/scripts/profile.js"></script>
  <title>Document</title>
  <% include ./partials/_header %>
</head>
<body>
  <div style="margin-top: 130px" id="about-me">  
  <div id="about-me">


  </div>
</div>
</body>
</html>