<!DOCTYPE html>
<html lang="en">
  <head>


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    <script type="text/javascript" src="/scripts/logout.js"></script>

    <link rel="stylesheet" href="/styles/splash.css" type="text/css" />



  </head>

  <body>
    <% include ./partials/_header %>

    <section class='main-folder'>
      <section class='form'>
        <form action="/register" method="POST" style="margin:75px;">
          <label for="reg_username">Enter your user name:</label><br>
          <input id="reg_username" type="reg_username" name="reg_username" placeholder="Username" style="width: 300px">
          <br>
          <label for="reg_password">Enter your password</label><br>
          <input id="reg_password" type="reg_password" name="reg_password" placeholder="Password" style="width: 300px"><br><br>
          <input type="submit" value="Submit">
        </form>

          <form action="/logout" method="POST">
            <input type="submit" value="Logout">
         </form>
         
        <form action="/login" method="POST" style="margin:75px;">
          <label for="username">Enter your user name:</label><br>
          <input id="username" type="username" name="username" placeholder="Username" style="width: 300px">
          <br>
          <label for="password">Enter your password</label><br>
          <input id="password" type="password" name="password" placeholder="Password" style="width: 300px"><br><br>
          <input type="submit" value="Submit">
        </form>
      </section>
    </section>

  </body>
</html>
