<!DOCTYPE html>
<html lang="en">

<head>


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/logout.js"></script>
  <script type="text/javascript" src="/scripts/active-button.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/splash.css" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Frijole" rel="stylesheet">


</head>

<body>

  <div>
    <% include ./partials/_header %>
  </div>
  <div class="full-page">

    <div class="jumbotron">
      <h2> Welcome to Map Adventure! </h2>
      <div>Map Adventure helps you plan and save memories of your adventures.</div>
      <div>Register or Login to begin planning some adventures today!</div>
    </div>

  </div>
</body>

</html>