<!DOCTYPE html>
<html lang="en">
  <head>


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    <script type="text/javascript" src="/scripts/logout.js"></script>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/nav.css" type="text/css"/>



  </head>

  <body>
    <% include ./partials/_header %>
    <h1>Welcome to Map Adventure!</h1>

    <% include ./partials/_login %>

  </body>
</html>
