<!DOCTYPE html>
<html lang="en">

<head>


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/logout.js"></script>
  <script type="text/javascript" src="/scripts/active-button.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/background.css" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Frijole" rel="stylesheet">


</head>

<body>

  <% include ./partials/_header %>
    <div class="full-page">

      <div >
        <h2> Welcome to Map Adventure! </h2>
        <div>
          <h3>Map Adventure helps you plan and save memories of your adventures.</h3>
          <h3>Register or Login to begin planning some adventures today!</h3>
        </div>

      </div>

    </div>
</body>

</html>