<!DOCTYPE html>
<html lang="en">
  <head>


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <link rel="stylesheet" href="/styles/splash.css" type="text/css" />


  </head>

  <body>
    <% include ./partials/_header %>

    <section class='main-folder'>

    </section>

  </body>
</html>
