body {
  background-image: url('http://zyzixun.net/data/out/189/4515257-wood-wallpapers.jpg');
  overflow: hidden;
  // background-size: contain;
height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
