body {
  background: url("http://i.imgur.com/h0uAF0i.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full-page {
  display: flex;
  justify-content: center;
}

.jumbotron {
  background: rgb(228, 228, 228);
  background: rgba(228, 228, 228, 0.8); 
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-top: 3em;
}

#edit-form-button {
  margin-top: 1em;
}