@import 'layout';
@import 'folder';
@import 'nav';

$logo-blue: #00DAD5;
$logo-orange: #FF6800;

.form {
  position: absolute;
  top: 10em; left: 19em;
}

.register {
  padding: 1em;
}

.login {
  padding: 1em;
}

.paper {
  display: flex;
  justify-content: center;
  align-items: center;
}
