@import 'layout';
@import 'folder';
@import 'nav';

$logo-blue: #00DAD5;
$logo-orange: #FF6800;

.form {
  top: 10em; left: 19em;
}

.login {
  padding: 1em;
}

.paper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desc {
  text-align: center;
}

.welcome {
  font-family: 'Frijole', cursive;
}
